
<main>
    <img id="sadFaceImg"
        src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.616CFkELsn-_CLxdSn_XPAAAAA%26pid%3DApi&f=1"
        alt="sad face" />
    <h1>404</h1>
    <h2>Page not found</h2>
</main>
